@import "tailwindcss";
:root {
  --foreground: #ffffff;
  --background: #171717;
  --accent-primary: #18181b;
  --accent-secondary: #27272a;
  --highlight: #3f3f46;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
  --color-highlight: var(--highlight);
  --font-sans: var(--font-lexend-deca);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fafafa;
    --background: #171717;
    --accent-primary: #1f1f1f;
    --accent-secondary: #333333;
    --highlight: #353535;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend-deca), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
